@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 5px 10px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
  .buttonContact {
    font-size: 3rem;
    font-family: "Nunito-reg";
    color: #e8c64c;
    border: 2px solid #e8c64c;
    display: inline;
    padding: 0 1rem 0 1rem;
    background: linear-gradient(to left, transparent 50%, #e8c64c 50%);
    background-size: 200%;
    background-position: right;
    cursor: pointer;
    transition: background-position 0.5s ease-in-out;
  }
}

@font-face {
  font-family: "Nunito-Reg";
  src: url("./assets/font/Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("./assets/font/Nunito/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Nunito-Xbold";
  src: url("./assets/font/Nunito/Nunito-ExtraBold.ttf");
}

@font-face {
  font-family: "Nunito-Light";
  src: url("./assets/font/Nunito/Nunito-Light.ttf");
}

@font-face {
  font-family: "Nunito-Xlight";
  src: url("./assets/font/Nunito/Nunito-ExtraLight.ttf");
}

@font-face {
  font-family: "Nunito-Italic";
  src: url("./assets/font/Nunito/Nunito-Italic.ttf");
}

@font-face {
  font-family: "Nunito-Sembold";
  src: url("./assets/font/Nunito/Nunito-SemiBold.ttf");
}
