@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 5px 10px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}

@font-face {
  font-family: "Nunito-Reg";
  src: url("./assets/font/Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("./assets/font/Nunito/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Nunito-Xbold";
  src: url("./assets/font/Nunito/Nunito-ExtraBold.ttf");
}

@font-face {
  font-family: "Nunito-Light";
  src: url("./assets/font/Nunito/Nunito-Light.ttf");
}

@font-face {
  font-family: "Nunito-Xlight";
  src: url("./assets/font/Nunito/Nunito-ExtraLight.ttf");
}

@font-face {
  font-family: "Nunito-Italic";
  src: url("./assets/font/Nunito/Nunito-Italic.ttf");
}

@font-face {
  font-family: "Nunito-Sembold";
  src: url("./assets/font/Nunito/Nunito-SemiBold.ttf");
}
